.item-group {
    background: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.package-groups {
    background-color: #754D4D4D;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-images {
    max-height: 200px;
}