.page-content {
    margin-top : 240px;
}

.namebtClass {
    z-index: -1 ;
    position: absolute ;
    max-width:1px ;
}

.submit-button {
    position:absolute;
}

.contact-us-section {
    box-shadow : 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 9px 0px rgba(0, 0, 0, 0.19);
}

.contact-us-form-class {
    padding-top: 20px;
    padding-bottom: 32px;
}

.company-info {
    color : white;
    background: #3494E6;
    background: -webkit-linear-gradient(to right, #071121, #0772a7);
    background: linear-gradient(to right, #071121, #0772a7);
}

@media screen and (max-width: 768px) {
    .company-info {
        padding-top : 30px;
        padding-bottom : 30px;
    }
}


@media screen and (max-width: 1200px) {
    .page-content {
        margin-top: 70px;
    }
}

