
    .fade1{
        width: 100%;
        height: 90px;
        text-align: center !important;
        border: 4px solid #ad20a2;
        background-image: linear-gradient(to right,#a740c7, #fcf093);

    }
    .fade2{
        width: 100%;
        height: 90px;
        text-align: center !important;
        border: 4px solid rgb(219, 128, 23);
        background-image: linear-gradient(to right,#f1c3b3, #ffbd60);

    }
    .fade3{
        width: 100%;
        height: 90px;
        text-align: center !important;
        border: 4px solid rgb(16, 17, 16);
        background-image: linear-gradient(to right,#646161, #4ea39f);
    }
    .block1 , .block2 , .block3{
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 23px;
        font-weight: 500;
    }
    .block2{
        /*background-color: */
    }

    /*change color of a as it messes up with all links on the page*/

    a{
      color: black;
    }
    a:hover{
      color: black;
        text-decoration: none;
    }
    .line1{
        display: inline-block;
        margin-left: 60px;
    }
    .line2{
        display: inline-block;
        margin-left: -130px;
        margin-right: 40px;
    }
    @media screen and (max-width:1300px)
    {
        .block1 , .block2 , .block3{
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: 500;
        }
        .fade1 , .fade2 , .fade3{
            height: 80px;
        }
    }

    @media screen and (max-width:930px)
    {
        .block1 , .block2 , .block3{
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 500;
        }
        .fade1 , .fade2 , .fade3{
            height: 90px;
        }
        .line1{
            margin-left: 40px;
        }
        .line2{
            /*margin-left: -110;*/
        }
    }



    @media screen and (max-width:615px)
    {
        .block1 , .block2 , .block3{
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 500;
        }
        .fade1 , .fade2 , .fade3{
            height: 80px;
        }
    }

    @media screen and (max-width:545px)
    {
        .block1 , .block2 , .block3{
            margin-top: 7px;
            margin-bottom: 15px;
            font-size: 13px;
            font-weight: 500;
        }
        .fade1 , .fade2 , .fade3{
            height: 80px;
        }
    }
    @media screen and (max-width:470px)
    {
        .block1 , .block2 , .block3{
            margin-top: 7px;
            margin-bottom: 15px;
            font-size: 12px;
            font-weight: 500;
        }
        .fade1 , .fade2 , .fade3{
            height: 70px;
        }
    }
    @media screen and (max-width:397px)
    {
        .block1 , .block2 , .block3{
            margin-top: 7px;
            margin-bottom: 15px;
            font-size: 11px;
            font-weight: 500;
        }
        .fade1 , .fade2 , .fade3{
            height: 70px;
        }
    }

    @media screen and (max-width:355px)
    {
        .block1 , .block2 , .block3{
            margin-top: 7px;
            margin-bottom: 15px;
            font-size: 11px;
            font-weight: 500;
        }
        .fade1 , .fade2 , .fade3{
            height: 80px;
        }
    }
    @media screen and (max-width:310px)
    {
        .block1 , .block2 , .block3{
            margin-top: 7px;
            margin-bottom: 15px;
            font-size: 10px;
            font-weight: 500;
        }
        .fade1 , .fade2 , .fade3{
            height: 90px;
        }
    }
