.category-description a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    padding: 2rem 1rem;
    margin-top: 10px
}

.categoryFaq {
    margin-top: 20px;
}

.categoryFaq a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}


