ol, ul {
    padding-inline-start: 3vw;
}

.product-name {
    font-size: 1.75rem;
}

.page-content {
    margin-top : 240px;
}

@media screen and (max-width: 1200px) {
    .page-content {
        margin-top: 70px;
    }
}

.product-images {
    /*background-color: rgba(12, 84, 96, 0.95);*/
    /*border: 1px solid black;*/
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 9px 0px rgba(0, 0, 0, 0.19);
}

/*how to fit image properly in carousal tutorial*/
/*https://raybo.org/posts/2021-03-27-consistent-height-carousels-with-css-gradients-by-hacking-the-bootstrap-5-carousel/*/
#productImagesCarousal .carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height:60vh;
}

.spacing-top {
    margin-top: 20px;
}

.pricing-div {
    font-size: 1.4rem;
}

.actual-price {
    color: black;
}

.discount {
    color: green;
}