.blog-title {
    /*    background-color: #0e2a5f; */
    background-image: linear-gradient(to right, #141e30 , #243b55);
    text-align: center;
    font-size: 5vw;
    align : center;
    padding : 7%;
    color : white;
}

.robinhood-form {

    padding-top : 40px;
    padding-bottom : 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.robinhood-form {
    padding-top : 45px;
    padding-bottom : 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.robinhood-head {
    background: url("/img/Harbacore-robinhoodarmy-corona-epdimic-lockdown-aid.png");
}

.feed-hungry {
    color: white;
    background-color: #00000094;
    text-align: justify;
}

.disclaimer {
    background-color: #15a2b8d4;
    color: white;
    text-align: justify;
}

@media (max-width: 768px) {
    .feed-hungry {
        background-color: #000000d1;
        margin-top: 10rem;
        /* text-align: center !important; */
    }

    .disclaimer {
            margin-top: 3rem;
    }
}

.dark-color {
    color: black;
}